@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

video {
  width: 100%;
  margin: auto;
  height: auto;
  outline: none;
}

.carousel {
  .carousel-control-prev,
  .carousel-control-next {
    i {
      border: 1px solid $color-black;
      color: $color-black;
      font-size: 1.5rem;
      padding: 15px 20px;
      background-color: $color-white;
    }
  }

  &#redCarousel {
    .carousel-item {
      text-align: center;
      img {
        width: 100%;
        max-width: 405px;
      }
    }

    .carousel-control-prev {
      left: -50px;
    }

    .carousel-control-next {
      right: -50px;
    }
  }

  &#ccbCarousel {
    .carousel-item {
      img {
        width: 100%;
      }
    }
  }
}

.ease-out-quart {
  -webkit-transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1); /* easeOutQuart */

  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(
    0.165,
    0.84,
    0.44,
    1
  ); /* easeOutQuart */
}

// Ease In Back
.ease-in-back {
  -webkit-transition: all 200ms cubic-bezier(0.6, 0, 0.735, 0.045); /* older webkit */
  -webkit-transition: all 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045); /* easeInBack */

  -webkit-transition-timing-function: cubic-bezier(
    0.6,
    0,
    0.735,
    0.045
  ); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition-timing-function: cubic-bezier(
    0.6,
    -0.28,
    0.735,
    0.045
  ); /* easeInBack */
}
