@media (max-width: 991px) {
  .container {
    width: 100% !important;
  }

  .big-logo-container {
    .logo-b {
      width: 150%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .panel-header {
    .btn {
      font-size: 3.2rem;

      &:before {
        top: 30px;
      }
    }

    .collapsed {
      font-size: 1.35rem;
    }

    .work-detail-title {
      font-size: 3.2rem;
      &:before {
        top: 20px !important;
      }
    }
  }

  .work-panel {
    .container {
      display: block;
    }

    .work-column {
      position: relative;
      width: 100%;
      display: block;
      height: 200px;

      &.hide-panel {
        display: none;
        &.active {
          display: block;
          height: auto;
        }
      }

      .work-image {
        height: 200px;
        min-height: 200px;
        &:before {
          background-color: rgba(0, 0, 0, 0.6);
        }
        .work-logo {
          transform: scale(1);
        }
      }

      &.active {
        .work-image {
          height: 300px !important;
        }

        &.red {
          .hero-text {
            padding: 0px 30px;
            h1 {
              font-size: 2rem;
              line-height: 2rem;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }

  .red {
    .work-detail {
      .carousel-container {
        display: block !important;

        .column {
          width: 100% !important;
          display: block;
        }

        .carousel-text {
          width: 100% !important;
          padding: 0px !important;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .panel-header {
    .btn {
      font-size: 3rem;
      margin-left: 35px;

      &:before {
        top: 25px;
        left: -10px;
      }
    }

    .collapsed {
      font-size: 1.35rem;
    }

    .work-detail-title {
      font-size: 2.5rem;
      top: 10px;
      margin-left: 35px;
      &:before {
        top: 15px !important;
        left: 0px !important;
      }
    }
  }

  .big-logo-container {
    height: 50vh;
    .logo-b {
      width: 180% !important  ;
      position: absolute;
      top: -150px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .hero-text {
    width: 100% !important;
  }
}
