.assistant {
  font-family: "Assistant";
}

body {
  font-size: 16px;
  color: $color-white;
  @extend .assistant;
}

h2 {
  font-family: "Teko";
  font-size: 4.2rem;
  line-height: 3rem;
  margin-bottom: 5px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}

p {
  font-size: 1.25rem;
  font-weight: 200;
}
