.assistant, body, .general-panel .hz-section h2 {
  font-family: "Assistant";
}

body {
  font-size: 16px;
  color: #ffffff;
}

h2 {
  font-family: "Teko";
  font-size: 4.2rem;
  line-height: 3rem;
  margin-bottom: 5px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}

p {
  font-size: 1.25rem;
  font-weight: 300;
}

video {
  width: 100%;
  margin: auto;
  height: auto;
  outline: none;
}

.btn {
  border-radius: 0;
}

.btn.btn-primary {
  border: 2px solid #ffffff;
  background-color: transparent;
  font-size: 1.5rem;
  padding: 10px 100px;
}

.big-logo-container {
  text-align: center;
  margin-top: 80px;
  height: 400px;
}

.big-logo-container .logo-b {
  width: 100%;
  margin: auto;
  position: relative;
  top: -170px;
}

.work-nav {
  position: absolute;
  z-index: 100;
  overflow: hidden;
}

.work-nav button {
  background: none;
  border: none;
  color: #ffffff;
  font-weight: 200;
  font-size: 1.5rem;
  height: 62px;
  width: 62px;
  padding: 0px;
  outline: none;
  cursor: pointer;
}

.work-nav button.next-work span {
  right: 0px;
}

.work-nav button.next-work label {
  float: left;
  text-align: left;
  transform-origin: right;
}

.work-nav button.next-work label:before {
  content: "NEXT:";
  font-size: 0.875rem;
  display: block;
}

.work-nav button.prev-work span {
  left: 0px;
}

.work-nav button.prev-work label {
  float: right;
  transform-origin: left;
  text-align: left;
}

.work-nav button.prev-work label:before {
  content: "PREVIOUS:";
  font-size: 0.875rem;
  display: block;
}

.work-nav button span {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 18px;
  display: inline-block;
  color: #ffffff;
  height: 60px;
  width: 60px;
  transition: transform 0.2s ease-in;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 10;
}

.work-nav button label {
  transform: scaleX(0);
  width: 0;
  overflow: hidden;
  display: inline-block;
  height: 60px;
  transition: transform 0.2s ease-out;
  white-space: nowrap;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.2rem;
  position: absolute;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

.work-nav button:hover {
  width: auto;
}

.work-nav button:hover label {
  width: auto;
  transform: scaleX(1);
  transition: transform 0.1s ease-in;
  position: relative;
}

.work-nav button:hover span {
  background-color: #777;
  border-color: #777;
  transition: transform 0.2s ease-in;
}

textarea {
  width: 100%;
  height: 320px;
  padding: 20px;
  margin-bottom: 40px;
}

.carousel .carousel-control-prev span,
.carousel .carousel-control-next span {
  border: 1px solid #000000;
  color: #000000;
  font-size: 1.5rem;
  padding: 15px 20px;
  background-color: #ffffff;
}

.carousel#redCarousel .carousel-item {
  text-align: center;
}

.carousel#redCarousel .carousel-item img {
  width: 100%;
  max-width: 405px;
}

.carousel#redCarousel .carousel-control-prev {
  left: -50px;
}

.carousel#redCarousel .carousel-control-next {
  right: -50px;
}

.carousel#ccbCarousel .carousel-item img, .carousel#ohioCarousel .carousel-item img {
  width: 100%;
}

.ease-out-quart, .big-logo-container, .panelOpen .big-logo-container {
  -webkit-transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
  /* easeOutQuart */
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  /* easeOutQuart */
}

.ease-in-back {
  -webkit-transition: all 200ms cubic-bezier(0.6, 0, 0.735, 0.045);
  /* older webkit */
  -webkit-transition: all 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  /* easeInBack */
  -webkit-transition-timing-function: cubic-bezier(0.6, 0, 0.735, 0.045);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  /* easeInBack */
}

html,
body {
  background-color: #000000;
}

header {
  margin-top: 40px;
  text-align: right;
}

.panel-header {
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.panel-header.work-panel-header .work-detail-title {
  display: none;
}

.panel-header.work-panel-header .work-detail-title:before {
  content: "";
  background: url("../images/icon-back.svg");
  height: 35px;
  width: 30px;
  background-repeat: no-repeat;
  position: absolute;
  top: 40px;
  left: -35px;
  font-size: 1.25rem;
  cursor: pointer;
}

.panel-header.work-panel-header.active button {
  display: none;
}

.panel-header.work-panel-header.active .work-detail-title {
  display: block;
}

.panel-header .btn {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-weight: 200;
  padding: 0px;
  margin: 0px;
  transition: font-size 0.1s;
  font-size: 4.5rem;
}

.panel-header .btn:before {
  content: "";
  background: url("../images/icon-close.svg");
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50px;
  left: -35px;
  font-size: 1.25rem;
  cursor: pointer;
}

.panel-header .collapsed {
  transition: font-size 0.1s;
  font-size: 1.35rem;
  height: 30px;
}

.panel-header .collapsed:before {
  content: "";
  display: none;
}

.panel-header .work-detail-title {
  font-size: 4.5rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 200;
  width: 100%;
  display: block;
}

.work-panel .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  width: calc(100% - 100px);
}

.work-panel .work-nav {
  position: absolute;
  top: 0px;
  right: 0px;
}

.work-panel .work-nav button {
  display: none;
}

.work-panel .work-nav.both button {
  display: inline-block;
}

.work-panel .work-nav.first .prev-work {
  display: none;
}

.work-panel .work-nav.first .next-work {
  display: inline-block;
}

.work-panel .work-nav.last .next-work {
  display: none;
}

.work-panel .work-nav.last .prev-work {
  display: inline-block;
}

.work-panel .work-nav.last .prev-work label {
  transform-origin: right;
}

.work-panel .work-column {
  width: 32.5%;
  display: inline-flexbox;
  margin-right: 2px;
  transition: width 0.2s ease-in;
  position: relative;
  overflow: hidden;
}

.work-panel .work-column:hover .work-image {
  position: relative;
}

.work-panel .work-column:hover .work-image:before {
  content: "";
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in;
}

.work-panel .work-column:hover .work-image .work-logo {
  transform: scale(1, 1);
  transition-timing-function: ease-in;
  opacity: 1;
  z-index: 100;
}

.work-panel .work-column .work-image {
  min-height: 600px;
  background-color: #666;
  background-position: top right;
  background-size: cover;
  text-align: center;
  display: block;
  max-height: 600px;
  height: 100%;
}

.work-panel .work-column .work-image:before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s ease-in;
  z-index: 0;
}

.work-panel .work-column .work-image .animate-wrapper {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.work-panel .work-column .work-image .work-logo {
  transform: scale(0, 0);
  width: 80%;
  font-size: 1.25rem;
  font-weight: 200;
  margin: auto;
  opacity: 1;
  transition: all 0.3s ease-in;
  height: 150px;
}

.work-panel .work-column .work-image .work-logo img {
  margin-bottom: 10px;
}

.work-panel .work-column .work-image .work-logo .title {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 2px;
}

.work-panel .work-column .work-detail {
  height: 0px;
  overflow: hidden;
  background-color: #ffffff;
  color: #000000;
  opacity: 0;
}

.work-panel .work-column .work-detail h3 {
  margin-bottom: 40px;
}

.work-panel .work-column .work-detail .intro {
  padding: 50px 40px;
}

.work-panel .work-column .work-detail .video-container {
  width: 100%;
  display: block;
  text-align: center;
  margin: auto;
}

.work-panel .work-column .work-detail .carousel-container {
  display: flex;
}

.work-panel .work-column .work-detail .carousel-container .column {
  width: 49%;
}

.work-panel .work-column .work-detail .carousel-container .column .carousel-text {
  padding-top: 100px;
  padding-right: 60px;
}

.work-panel .work-column .work-detail .carousel-container .column.padded {
  padding: 40px 40px 0px 40px;
}

.work-panel .work-column .hero-text {
  height: 0;
  opacity: 0;
}

.work-panel .work-column.hide-panel {
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.work-panel .work-column.hide-panel:first-child {
  left: 0px;
}

.work-panel .work-column.hide-panel:nth-child(2) {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.work-panel .work-column.hide-panel:last-child {
  position: absolute;
  right: 0px;
  float: right;
}

.work-panel .work-column.active {
  width: 100%;
  transition: width 0.2s ease-in;
}

.work-panel .work-column.active .work-logo {
  display: none;
}

.work-panel .work-column.active .hero-text {
  height: auto;
  float: left;
  opacity: 1;
  transition-delay: 2s;
  transition: all 0.2s ease-in;
}

.work-panel .work-column.active.red .hero-text {
  width: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  font-weight: 200;
}

.work-panel .work-column.active.red .hero-text img {
  max-width: 300px;
  margin-bottom: 15px;
}

.work-panel .work-column.active.red .hero-text h1 {
  font-weight: 200;
  font-size: 3rem;
  line-height: 3.1rem;
  margin-bottom: 20px;
}

.work-panel .work-column.active.red .hero-text p {
  font-size: 1rem;
  line-height: 1.2rem;
}

.work-panel .work-column.active.ccb .hero-text {
  text-align: left;
  position: absolute;
  bottom: 0px;
}

.work-panel .work-column.active.ccb .hero-text .ccb-logo-hero {
  margin-left: 20px;
  max-width: 320px;
}

.work-panel .work-column.active.ccb .hero-text .ccb-sites {
  margin-top: 50px;
}

.work-panel .work-column.active .work-detail {
  height: auto;
  overflow: hidden;
  display: block;
  color: #000000;
  width: 100%;
  min-height: 200px;
  opacity: 1;
  transition-timing-function: ease-out;
  transition: opacity 1s;
  transition-delay: 0.5s;
}

.work-panel .work-column.active.hide-panel {
  position: absolute;
  z-index: 10;
}

.work-panel .work-column.active.relative {
  position: relative;
}

.work-panel .work-column.active:hover .work-image:before {
  opacity: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}

.work-panel .work-column.active .work-image {
  position: relative;
}

.work-panel .work-column.active .work-image:before {
  content: "";
  opacity: 0;
  transition: all 0.2s ease-out;
  background-color: rgba(0, 0, 0, 0);
}

.general-panel .hz-section {
  min-height: 50vh;
  padding: 40px 0px;
  position: relative;
}

.general-panel .hz-section .container {
  min-height: 50vh;
  position: relative;
}

.general-panel .hz-section .row {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

.general-panel .hz-section h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.general-panel .hz-section h4 {
  color: #777;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.general-panel .hz-section .service-list {
  text-align: left;
}

.general-panel .hz-section .service-list ul {
  margin: 0px;
  padding: 0px;
}

.general-panel .hz-section .service-list ul li {
  list-style-type: none;
  font-size: 0.875rem;
}

.general-panel .intro {
  background-color: #353535;
}

.general-panel .intro h3 {
  color: #777;
  font-weight: 700;
}

.general-panel .development {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.general-panel .design {
  background-color: #353535;
  text-align: center;
  color: #ffffff;
}

.general-panel .design h4 {
  color: #ffffff;
}

.contact-panel {
  background-color: #353535;
  min-height: 200px;
  padding: 40px 0px;
}

.panelOpen .big-logo-container {
  height: 0px;
  overflow: hidden;
}

.panelOpen .accordion {
  margin-top: -100px;
}

@media (max-width: 991px) {
  .container {
    width: 100% !important;
  }
  .big-logo-container .logo-b {
    width: 150%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .panel-header .btn {
    font-size: 3.2rem;
  }
  .panel-header .btn:before {
    top: 30px;
  }
  .panel-header .collapsed {
    font-size: 1.35rem;
  }
  .panel-header .work-detail-title {
    font-size: 3.2rem;
  }
  .panel-header .work-detail-title:before {
    top: 20px !important;
  }
  .work-panel .container {
    display: block;
  }
  .work-panel .work-column {
    position: relative;
    width: 100%;
    display: block;
    height: 200px;
  }
  .work-panel .work-column.hide-panel {
    display: none;
  }
  .work-panel .work-column.hide-panel.active {
    display: block;
    height: auto;
  }
  .work-panel .work-column .work-image {
    height: 200px;
    min-height: 200px;
  }
  .work-panel .work-column .work-image:before {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .work-panel .work-column .work-image .work-logo {
    transform: scale(1);
  }
  .work-panel .work-column.active .work-image {
    height: 300px !important;
  }
  .work-panel .work-column.active.red .hero-text {
    padding: 0px 30px;
  }
  .work-panel .work-column.active.red .hero-text h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 5px;
  }
  .red .work-detail .carousel-container {
    display: block !important;
  }
  .red .work-detail .carousel-container .column {
    width: 100% !important;
    display: block;
  }
  .red .work-detail .carousel-container .carousel-text {
    width: 100% !important;
    padding: 0px !important;
  }
}

@media (max-width: 767px) {
  .panel-header .btn {
    font-size: 3rem;
    margin-left: 35px;
  }
  .panel-header .btn:before {
    top: 25px;
    left: -10px;
  }
  .panel-header .collapsed {
    font-size: 1.35rem;
  }
  .panel-header .work-detail-title {
    font-size: 2.5rem;
    top: 10px;
    margin-left: 35px;
  }
  .panel-header .work-detail-title:before {
    top: 15px !important;
    left: 0px !important;
  }
  .big-logo-container {
    height: 50vh;
  }
  .big-logo-container .logo-b {
    width: 180% !important;
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
  }
  .hero-text {
    width: 100% !important;
  }
}
